 @import "bootstrap";
 @import "font-awesome";
 @import "home";

img.logo{
	max-height:40px;
}

nav.nav-custom{
	background-color: #00000000 !important;
	z-index: 10;
}

li.nav-item{
	background-color: #00000080;
	border-radius: 25px;
	width: 150px;
	margin-right: 5px;
	font-weight: bold;
	padding-left: 5px;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	nav.nav-custom{
		background-color: #000000e3 !important;
	}

	li.nav-item{
		background-color: unset;
		border-radius: unset;
		width: unset;
		margin-right: unset;
		font-weight: unset;
		padding-left: unset;
		text-align: unset;
	}
}

